# Project place file
/kit.rbxlx
/kit.rbxl

# Roblox Studio lock files
**/*.rbxlx.lock
**/*.rbxl.lock

# Luau LSP Sourcemap
/sourcemap.json

# Wally Packages
/Packages
wally.lock

# other stuff
/.vscode
.env